// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .force-pointer {
   cursor: pointer;
 }

.circle {
  height: 4em;
  width: 4em;
  border-radius: 50%;
}

.day-in-calendar {
  line-height: 4em;
}

.day-completed {
  background-color: white;
  border-color: white;
  color: black;
}

.z-level-1 {
  z-index: 1080;
}

.z-level-2 {
  z-index: 1090;
}

.semi-transparent-backdrop {
  background: black;
  opacity: .50;
}

.disabled {
  opacity: .3;
  cursor: default;
}

.light-grey {
  color: #747474;
}
